@use "@/scss/colors.scss";
@use "@/scss/screens.scss";
@use "@/scss/constants.scss";

.AudioButton {
  padding: 0;
  border: none;
  background-color: colors.$transparent;
  border-radius: constants.$radius-round;

  height: fit-content;

  cursor: pointer;

  &__icon {
    @include screens.mobile {
      height: 3rem;
      width: 3rem;
    }
  }

  &__player {
    display: none;
  }
}
