@use "@/scss/colors.scss";
@use "@/scss/fonts.scss";
@use "@/scss/screens.scss";

.App {
  min-height: 100dvh;

  @include fonts.sm;

  &--sans-serif * {
    font-family: fonts.$sans-serif;
  }

  &--serif * {
    font-family: fonts.$serif;
  }

  &--mono * {
    font-family: fonts.$mono;
  }

  &[data-theme="light"] {
    background-color: colors.$neutral-50;

    color: colors.$neutral-900;
  }

  &[data-theme="dark"] {
    background-color: colors.$neutral-900;

    color: colors.$neutral-50;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 3.25rem;

    margin-inline: auto;
    padding-block: 1.75rem;

    width: min(45rem, 90%);

    @include screens.mobile {
      gap: 1.5rem;
    }
  }
}
