@mixin xl {
  font-size: 4rem;
  line-height: 4.8rem;
}

@mixin lg {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

@mixin md {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

@mixin sm {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

@mixin xs {
  font-size: 0.875rem;
  line-height: 1rem;
}

$weight-normal: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;

$sans-serif: "Inter Variable", sans-serif;
$mono: "Inconsolata Variable", mono;
$serif: "Lora Variable", serif;
